:root {  
    --logo-color: #000;  
    --accent-color: #2196f3;  
    --text-color: #212121;  
    --additional-text: #757575;  
    --main-color: #fff;  
    --team-background: #f5f4fa;  
    --footer-background: #2f303a;  
    --border: #EEE;  
    --footer-number: rgba(255, 255, 255, 0.6);  
}  

body {  
    font-family:"Roboto";  
}  
.nav-list{
display: flex;
gap: 50px;
}
.header-link:focus,  
.nav-link:focus {  
    outline: 2px solid var(--accent-color);
    border-radius: 5px;  
    background-color: rgb(33, 149, 243);
    transition: all 0.3s ease-in-out;
}

.container {  
    width: 1200px;  
    margin-left: auto;  
    margin-right: auto;  
    padding-left: 15px;  
    padding-right: 15px;  
    outline: 1px solid red;  
}  
.header-item {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.header {  
    padding-top: 24px;  
    padding-bottom: 25px;  
}  

.header-box {  
    display: flex;  
    align-items: center;  
}  
.header-link{
  display: flex;
  justify-content: center;
}
.header-logo {  
    color: var(--accent-color);  
    font-family: Raleway;  
    font-size: 26px;  
    font-weight: 700;  
    line-height: 1.38;  
    letter-spacing: 0.78px;  
    margin-right: 93px;  
}  
.logo {
    margin-right: 10px; 
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.header-item:nth-child(2) .logo {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
}
.header-span {  
    color: var(--logo-color);  
    font-size: 26px;  
    font-weight: 700;  
    line-height: 1.38;  
    letter-spacing: 0.78px;  
}  

.header-contact {  
  display: flex;
  align-items: center;
  gap: 30px;  
  margin-left: auto;
}    
.logo {  
    width: 16px;  
    height: 12px;  
    flex-shrink: 0;     
}
.header-link {  
    color: var(--text-color);  
    font-size: 14px;  
    font-weight: 500;  
    line-height: 1.14;  
    letter-spacing: 0.28px;  
   display: flex;
   align-items: center;
}  
.header-link:hover .logo {
    stroke: var(--accent-color); 
    fill: var(--accent-color); 
}
.header-link:hover .logo {  
    fill: var(--accent-color);  
}
.nav-link:hover {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.nav-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link {
  color: var(--additional-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-item{
  fill: #757575;
}







.hero {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/friends.jpg);
}
.hero-title {
  color: var(--main-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-button {
border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: var(--main-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
padding: 10px 32px;




}
.management{
  padding-top: 94px;
  
}
.management-list{
  display: flex;
  gap: 30px;
}
.management-item::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(2)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/clock.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(3)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/diagram.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(4)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/astronaut.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item{
  flex-basis: calc((100% - 90px) / 4);
}
.management-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.management-text {
  color: var(--additional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}







.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.work-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work-item {
  position: relative;
  overflow: hidden;
}

.work-img {
  display: block;
  width: 100%;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
 background: rgba(47, 48, 58, 0.80);
  color: white; 
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  padding-top: 27px;
  padding-bottom: 27px;
}










.team{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background);
}
.team-subject {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-list{
  display: flex;
  gap: 30px;
}
.team-img{
width: 270px;
height: 260px;

}
.div-item{
padding-top: 30px;
padding-bottom: 30px;
background-color: var(--main-color);
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  
}
.team-text {
  color: var(--additional-text);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.48px;
}
.team-icon{
width: 20px;
height: 20px;
flex-shrink: 0;
fill: darkgrey;
}
.team-box{
display: flex;
justify-content: center;
gap: 10px;
margin-top: 16px;
} 

.team-box a { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.team-box a:hover {
  background-color: #2196f3;
}

.team-box a:hover .team-icon {
  fill: white;
}
















.client{
  padding-bottom: 94px;
}
.client-use{
width: 106px;
height: 60px;
flex-shrink: 0;
}
.client-title{
color: #212121;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.client-list a:focus{
  outline: none;
  background-color: #2196f3;
}
.client-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.team-box a:focus {
    outline: none;
    background-color: #2196f3; 
    border-radius: 50%; 
}


.client-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid darkgrey;
    border-radius: 4px; 
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: darkgrey;
    transition: fill 0.3s ease;
}

.client-item a:hover {
    border-color: var(--accent-color); 
}

.client-item a:hover .client-icon {
    fill: var(--accent-color); 
}






.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer-info {
  max-width: 300px;
}
.footer-social-list a:focus{
  outline: none;
  background-color: #2196f3;
}
.footer-logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
  display: inline-block;
}

.logo-span {
  color: var(--main-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  display: inline-block;
}

.footer-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  display: inline-block;
}

.footer-address {
  font-style: normal;
}

.footer-number {
  color: var(--footer-number);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  display: inline-block;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-title {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-listbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

    
.footer-social-list {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 70px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.footer-social-link:hover {
  background-color: var(--accent-color);
}

.footer-icon {
width: 20px;
height: 20px;
flex-shrink: 0;
fill: white;
}
/* ------------portfolio-------------------------------- */










                            

.nav-link:hover{
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.nav-link{
color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}



.header-list{
display: flex;
gap: 50px;
}
.header-link:hover{
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;}
.header-link{
color: var(--additional-text);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}





.btn{
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.btn-list{
    display: flex;

    margin-bottom: 50px;
 justify-content: center;
 gap: 8px;
}
.btn-button{
padding: 6px 23px;
color:var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.48px;
border-radius: 4px;
border: none;
}
.btn-button:hover{
padding: 6px 23px;
background-color:var(--accent-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.48px;

}



.table-list{
display: flex;
flex-wrap: wrap;
gap: 30px;


}
.table-item{
    outline: 1px solid var(--border);
    flex-basis: calc((100% - 60px) / 3);
}
.table-img{
width: 100%;
}
.table-box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.table-title{
color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.table-text{
color: var(--additional-text);
font-size: 16px;
font-weight: 400;
line-height: 1.85;
letter-spacing: 0.48px;
}                            
