:root {  
    --logo-color: #000;  
    --accent-color: #2196f3;  
    --text-color: #212121;  
    --additional-text: #757575;  
    --main-color: #fff;  
    --team-background: #f5f4fa;  
    --footer-background: #2f303a;  
    --border: #EEE;  
    --footer-number: rgba(255, 255, 255, 0.6);  
}  

body {  
    font-family:"Roboto";  
}  
.nav-list{
display: flex;
gap: 50px;
}

.header-link:focus,  
.nav-link:focus {  
    outline: 2px solid var(--accent-color);
    border-radius: 5px;  
    background-color: rgb(33, 149, 243);
    transition: all 0.3s ease-in-out;
}
.nav-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,  
.nav-item:focus-within {  
  background-color: rgb(33, 149, 243);
  border-radius: 5px;  
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.container {  
    width: 1200px;  
    margin-left: auto;  
    margin-right: auto;  
    padding-left: 15px;  
    padding-right: 15px;  
    outline: 1px solid red;  
}  
.header-item {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.header {  
    padding-top: 24px;  
    padding-bottom: 25px;  
}  

.header-box {  
    display: flex;  
    align-items: center;  
}  
.header-link{
  display: flex;
  justify-content: center;
}

.header-logo {  
    color: #2196F3; 
    font-size: 26px;  
    font-weight: 700;  
    line-height: 1.38;  
    letter-spacing: 0.78px;  
    margin-right: 93px;  
}  
.logo {
    margin-right: 10px; 
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.header-item:nth-child(2) .logo {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
}
.header-span {  
    color: var(--logo-color);  
    font-size: 26px;  
    font-weight: 700;  
    line-height: 1.38;  
    letter-spacing: 0.78px;  
}  

.header-contact {  
  display: flex;
  align-items: center;
  gap: 30px;  
  margin-left: auto;
}    
.logo {  
    width: 16px;  
    height: 12px;  
    flex-shrink: 0;     
}
.header-link {  
    color: var(--text-color);  
    font-size: 14px;  
    font-weight: 500;  
    line-height: 1.14;  
    letter-spacing: 0.28px;  
   display: flex;
   align-items: center;
}  
.header-link:hover .logo {
    stroke: var(--accent-color); 
    fill: var(--accent-color); 
}
.header-link:hover .logo {  
    fill: var(--accent-color);  
}
.nav-link:hover {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.nav-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link {
  color: var(--additional-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-item{
  fill: #757575;
}







.hero {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/friends.jpg);
}
.hero-title {
  color: var(--main-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-button {
  border-radius: 4px; 
  background: #2196F3;
  color: #fff; 
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 32px;
  border: none; 
  cursor: pointer;
  transition: all 0.3s ease; 
}





.management{
  padding-top: 94px;
  
}
.management-list{
  display: flex;
  gap: 30px;
}
.management-item::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(2)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/clock.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(3)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/diagram.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item:nth-child(4)::before{
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--team-background);
  margin-bottom: 30px;
  background-image: url(../img/astronaut.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.management-item{
  flex-basis: calc((100% - 90px) / 4);
}
.management-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.management-text {
  color: var(--additional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}







.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.work-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work-item {
  position: relative;
  overflow: hidden;
}

.work-img {
  display: block;
  width: 100%;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
 background: rgba(47, 48, 58, 0.80);
  color: white; 
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  padding-top: 27px;
  padding-bottom: 27px;
}










.team{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background);
}
.team-subject {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-list{
  display: flex;
  gap: 30px;
}
.team-img{
width: 270px;
height: 260px;

}
.div-item{
padding-top: 30px;
padding-bottom: 30px;
background-color: var(--main-color);
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  
}
.team-text {
  color: var(--additional-text);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.48px;
}
.team-icon{
width: 20px;
height: 20px;
flex-shrink: 0;
fill: darkgrey;
}
.team-box{
display: flex;
justify-content: center;
gap: 10px;
margin-top: 16px;
} 

.team-box a { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.team-box a:hover {
  background-color: #2196f3;
}

.team-box a:hover .team-icon {
  fill: white;
}
















.client{
  padding-bottom: 94px;
}
.client-use{
width: 106px;
height: 60px;
flex-shrink: 0;
}
.client-title{
color: #212121;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.client-list a:focus{
  outline: none;
  background-color: #2196F3;
}
.client-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.team-box a:focus {
    outline: none;
    background-color: #2196f3; 
    border-radius: 50%; 
}


.client-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid darkgrey;
    border-radius: 4px; 
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: darkgrey;
    transition: fill 0.3s ease;
}

.client-item a:hover {
    border-color: var(--accent-color); 
}

.client-item a:hover .client-icon {
    fill: var(--accent-color); 
}






.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer-info {
  max-width: 300px;
}
.footer-social-list a:focus{
  outline: none;
  background-color: #2196f3;
}
.footer-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
  display: inline-block;
}

.logo-span {
  color: var(--main-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  display: inline-block;
}

.footer-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  display: inline-block;
}

.footer-address {
  font-style: normal;
}

.footer-number {
  color: var(--footer-number);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  display: inline-block;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-title {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-listbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

    
.footer-social-list {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 70px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.footer-social-link:hover {
  background-color: var(--accent-color);
}

.footer-icon {
width: 20px;
height: 20px;
flex-shrink: 0;
fill: white;
}
.footer-subscribe {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-top: 0; 
}
.subscribe-form {
  display: flex;
  align-items: center; 
}
.footer-subscribe-title{
color: #FFF;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
margin-left: 93px;
}
.subscribe-input{
width: 358px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-left: 93px;
margin-right: 12px;
}
.subscribe-button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  padding: 10px 20px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  flex-grow: 1;
}
.footer-text {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}
.subscribe-icon {
  width: 24px;
height: 24px;
flex-shrink: 0;
  fill: white;
}


/* ------------portfolio-------------------------------- */










                            
:root {  
    --text-color: #000; 
    --accent-color: #0073ff; 
    --additional-text: #666; 
    --border: #ddd;
}

.container {  
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}  

.btn {  
    padding: 94px 0;
    display: flex;  
    flex-direction: column; 
    align-items: center; 
}  

.btn-list {  
    list-style-type: none; 
    margin: 0;  
    padding: 0;  
    display: flex;  
    margin-bottom: 50px;  
    justify-content: center;  
    gap: 8px;  
}  

.btn-button {  
    padding: 6px 23px;  
    color: var(--text-color);  
    text-align: center;  
    font-size: 16px;  
    font-weight: 500;  
    line-height: 1.6;  
    letter-spacing: 0.48px;  
    border-radius: 4px;  
    border: none;  
    transition: background-color 0.3s ease; 
}  

.btn-button:hover {  
    background-color: var(--accent-color);  
}  

.table-list {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 30px;  
}  

.table-item {  
    outline: 1px solid var(--border);  
    flex-basis: calc((100% - 60px) / 3); 
    box-sizing: border-box;
    position: relative;  
    overflow: hidden;  
}  

.table-img {  
    width: 100%; 
    height: auto;
}  

.table-box {  
    padding: 20px 24px;
}  

.table-title {  
    color: var(--text-color);  
    font-size: 18px;  
    font-weight: 700;  
    line-height: 2;  
    letter-spacing: 1.08px;  
    margin-bottom: 4px;  
}  

.table-text {  
    color: var(--additional-text);  
    font-size: 16px;  
    font-weight: 400;  
    line-height: 1.85;  
    letter-spacing: 0.48px;  
}  

.table-img .overlay {  
    opacity: 1;  
  
}
.nav-link:hover{
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.nav-link{
color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
position: relative;
}
.nav-link::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
 background-color: var(--accent-color);
  visibility: hidden;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.nav-link:hover::after,
.nav-link.active::after {
  visibility: visible;
}











.header-list{
display: flex;
gap: 50px;
}
.header-link:hover{
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;}
.header-link{
color: var(--additional-text);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}





.btn{
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.btn-list{
    display: flex;

    margin-bottom: 50px;
 justify-content: center;
 gap: 8px;
}
.btn-button{
padding: 6px 23px;
color:var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.48px;
border-radius: 4px;
border: none;
}
.btn-button:hover{
padding: 6px 23px;
background-color:var(--accent-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.48px;
color: #FFF;
}



.table-list{
display: flex;
flex-wrap: wrap;
gap: 30px;


}
.table-item{
    outline: 1px solid var(--border);
    flex-basis: calc((100% - 60px) / 3);
}
.table-img{
  width: 370px;
  height: 294px;
}
.table-box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.table-title{
color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.table-text{
color: var(--additional-text);
font-size: 16px;
font-weight: 400;
line-height: 1.85;
letter-spacing: 0.48px;
}   

.table-item {
  position: relative;
  overflow: hidden; 
}
.overlay-text {
  width: 322px;
  color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.54px;
}



.table-img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.90);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  transform: translateY(100%); 
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), 
              opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}   
.table-item:hover .overlay {
  opacity: 1; 
}
.overlay-text {  
    width: 80%;
    transform: translateY(100%); 
    opacity: 0;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; 
  letter-spacing: 0.54px;
  text-align: center;
}
.subscribe-icon {
  width: 24px;
height: 24px;
flex-shrink: 0;
  fill: white;
}
.table-item {
  position: relative;
  overflow: hidden;
}

.table-item:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}

.table-item:hover .overlay-text {
  transform: translateY(0); 
  opacity: 1;
}

.table-item:not(:hover) .overlay {
  transform: translateY(100%); 
  opacity: 0;
}

/* ------------- modal window ------------------------ */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.80);
  opacity: 1;
}
.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal{
width: 528px;
flex-shrink: 0;
border-radius: 4px;
background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 40px;
}
.modal-button{
  width: 18px;
height: 18px;
}
.modal-close{
  width: 30px;
height: 30px;
background-color: transparent;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
outline: 1px solid  rgba(0, 0, 0, 0.20);
border: none;
position: absolute;
right: 8px;
top: 8px;
}
.modal-close:hover,
.modal-close:focus{
  .modal-button{
    fill: #2196F3;
  }
}
.modal-title{
width: 448px;
color: var(--text-color);
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
display: flex;
justify-content: center;
}
.modal-text{
color: var(--additional-text);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
}
.modal-input{
width: 448px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
margin-top: 4px;
margin-bottom: 10px;
padding-left: 42px;
}
.modal-input:hover,
.modal-input:focus{
  border: none;
  outline: 1px solid #2196F3; 
}
.modal-input:hover +.modal-svg,
.modal-input:focus +.modal-svg{
  fill: #2196F3;
}


.modal-comment{
  margin-top: 4px;
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
}
.checkbox-prim{
color:var(--additional-text);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-left: 9px;
}
.modal-link{
  color: var(--accent-color);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.modal-chek{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.modal-submit {
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.modal-submit:hover {
  background-color: #2196F3;
}

.modal-wrap{
  position: relative;
}
.modal-svg{
  width: 18px;
  height: 18px;
 position: absolute;
 top: 50%;
 left: 12px;
transform: translateY(-60%);
}