@import "./bais/reset";
@import "./bais/container";
@import "./bais/variables";
@import "./bais/common";
@import "./section/header";
@import "./section/hero";
@import "./section/managament";
@import "./section/work";
@import "./section/team";
@import "./section/client";
@import "./section/footer";
@import "./section/backdrop";
@import "./section/portfolio"
