h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto";
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.24px;
}
@media screen and (min-width: 1200px) {
  .header__text {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  font-family: Raleway;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: auto;
  letter-spacing: 0.72;
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78;
    margin-right: 93px;
  }
}
.header__span {
  color: #000;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
}
.header__list:hover {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header__item {
  fill: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.header__item:hover {
  color: #2196f3;
  fill: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header__logotup {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0px;
}
.header__link:hover .logo {
  stroke: #2196f3;
  fill: #2196f3;
}
.header__link:focus {
  outline: 2px solid #2196f3;
  border-radius: 5px;
  background-color: rgb(33, 149, 243);
  transition: all 0.3s ease-in-out;
}
.header .header__item-navigation a {
  color: #212121;
  text-decoration: none;
}
.header .header__item-navigation a:hover {
  color: #2196f3;
}
.header__contact {
  display: none;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .header__contact {
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    flex-direction: row;
    gap: 30px;
  }
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/friends.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__button {
  border-radius: 4px;
  background: #2196f3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.management {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .management {
    padding-top: 94px;
  }
}
.management__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.management__item {
  flex-basis: calc((100% - 90px) / 4);
}
.management__item::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 480px) {
  .management__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .management__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .management__item::before {
    width: 270px;
  }
}
.management__item:nth-child(1)::before {
  background-image: url(../img/antenna.webp);
}
.management__item:nth-child(2)::before {
  background-image: url(../img/clock.webp);
}
.management__item:nth-child(3)::before {
  background-image: url(../img/diagram.webp);
}
.management__item:nth-child(4)::before {
  background-image: url(../img/astronaut.webp);
}
.management__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .management__title {
    text-align: start;
  }
}
.management__text {
  width: 100%;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 480px) {
  .management__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .management__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .management__text {
    width: 270px;
  }
}

.work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.work__item {
  position: relative;
  overflow: hidden;
}
.work__img {
  display: block;
  width: 100%;
}
.work__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(47, 48, 58, 0.8);
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
  }
}
.team__subject {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.team__img {
  width: 270px;
  height: 260px;
}
.team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team__item:hover {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12), 0px 4px 3px 0px rgba(0, 0, 0, 0.18);
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.187;
  font-family: Roboto;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 10px;
    margin-top: 30px;
  }
}
.team__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.48px;
}
.team__box {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: darkgrey;
}
.team__box a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-bottom: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.team__box a:hover {
  background-color: #2196f3;
  fill: #fff;
}
.team__box a:hover .team-icon {
  fill: #fff;
}
.team .team__box a:hover .team__icon {
  fill: #fff;
}

.client {
  padding-bottom: 30px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.client__title {
  color: #212121;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.client__list a:focus {
  outline: none;
  background-color: #2196f3;
}
.client__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .client__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.client__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 92px;
  outline: 1px solid darkgrey;
  border-radius: 4px;
}
.client__item a:hover {
  border-color: #2196f3;
}
.client__item a:hover .client__icon {
  fill: #2196f3;
}
.client__icon {
  width: 100%;
  max-width: 106px;
  height: auto;
  max-height: 60px;
  fill: darkgrey;
  transition: fill 0.3s ease;
}
.client__use {
  width: 106px;
  height: 60px;
  flex-shrink: 0;
}

.team-box a:focus {
  outline: none;
  background-color: #2196f3;
  border-radius: 50%;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}
.footer__info {
  max-width: 300px;
}
.footer__logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-bottom: 20px;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.footer__span {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  display: inline-block;
}
.footer__address {
  font-style: normal;
}
.footer__link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  display: inline-block;
}
.footer__item {
  margin-bottom: 9px;
}
.footer__number {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  display: inline-block;
}
.footer__listbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
    margin-top: 0;
  }
}
.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 70px;
}
.footer__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.footer__social-link:focus {
  outline: none;
  background-color: #2196f3;
}
.footer__social-link:hover {
  outline: none;
  background-color: #2196f3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: white;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: auto;
  }
}
.footer__subscribe__title {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer__subscribe__title {
    margin-top: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__subscribe__title {
    margin-top: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe__title {
    margin-top: 0;
    text-align: left;
  }
}
.footer__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    gap: 12px;
  }
}
.footer__input {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* margin-left: 93px; */
  margin-right: 12px;
}
.footer__button {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  flex-grow: unset;
}
.footer__text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}
.footer__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop__modal {
  width: 528px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.backdrop__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  border: none;
  position: absolute;
  right: 8px;
  top: 8px;
}
.backdrop__close:hover .backdrop__button, .backdrop__close:focus .backdrop__button {
  fill: #2196f3;
}
.backdrop__button {
  width: 18px;
  height: 18px;
}
.backdrop__title {
  width: 448px;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0px;
}
.backdrop__text {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.backdrop__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0px;
}
.backdrop__input, .backdrop__comment {
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border 0.3s ease;
}
.backdrop__input {
  height: 40px;
}
.backdrop__comment {
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
}
.backdrop__svg {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
}
.backdrop__input:hover, .backdrop__input:focus, .backdrop__comment:hover, .backdrop__comment:focus {
  outline: none;
  border: 2px solid #2196f3;
}
.backdrop__wrap:hover .backdrop__svg, .backdrop__wrap:focus-within .backdrop__svg {
  fill: #2196f3;
}
.backdrop__chek {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0px;
  margin-top: 20px;
}
.backdrop__prim {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 9px;
}
.backdrop__link {
  color: #2196f3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: underline;
}
.backdrop__submit {
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.backdrop__submit:hover {
  background-color: #0c7cd5;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.btn {
  padding: 94px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0px;
}
.btn__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .btn__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.btn__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.btn__rite {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.btn__button {
  padding: 6px 23px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
}
.btn__button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #fff;
}
.btn .btn__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.btn .btn__item {
  outline: 1px solid var(--border);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  margin-bottom: 32px;
  margin-top: 50px;
  flex-basis: 100%;
}
.btn .btn__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .btn .btn__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .btn .btn__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.btn__verybox {
  outline: 1px solid var(--border);
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  overflow: hidden;
}
.btn__img {
  width: 100%;
  height: auto;
  display: block;
}
.btn__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2196f3;
  color: white;
  padding: 20px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0px;
}
.btn__item:hover .btn__overlay {
  transform: translateY(0);
  opacity: 1;
}
.btn__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.btn__rite {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 0.48px;
}
.btn__text {
  width: 80%;
  opacity: 0;
  transform: translateY(100%);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  text-align: center;
}
.btn__item:hover .btn__text {
  transform: translateY(0);
  opacity: 1;
}

.header__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header__link:hover {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.nav-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  visibility: hidden;
  position: absolute;
  bottom: -35px;
  left: 0;
}

.nav-link:hover::after,
.nav-link.active::after {
  visibility: visible;
}/*# sourceMappingURL=main.css.map */