

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.20);
    opacity: 1;

    &__modal {
        width: 528px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                    0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.20);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
    }

    &__close {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 1px solid rgba(0, 0, 0, 0.20);
        border: none;
        position: absolute;
        right: 8px;
        top: 8px;

        &:hover,
        &:focus {
            .backdrop__button {
                fill: $accent-color;
            }
        }
    }

    &__button {
        width: 18px;
        height: 18px;
    }

    &__title {
        width: 448px;
        color: $text-color;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.6px;
        display: flex;
        justify-content: center;
    }

    &__text {
        color: $additional-text;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.12px;
    }

    &__wrap {
        position: relative;
    }

    &__input,
    &__comment {
        width: 448px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        margin-top: 4px;
        margin-bottom: 10px;
        padding-left: 42px;
    }

    &__input {
        height: 40px;
    }

    &__comment {
        height: 120px;
        resize: none;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
    }

    &__svg {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }

    &__input:hover,
    &__input:focus,
    &__comment:hover,
    &__comment:focus {
        outline: none;
        border: 2px solid $accent-color;
    }

    &__chek {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    &__prim {
        color: $additional-text;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        margin-left: 9px;
    }

    &__link {
        color: $accent-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-decoration: underline;
    }

    &__submit {
        padding: 10px 52px;
        font-size: 16px;
        font-weight: 700;
        background-color: $accent-color;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            background-color: darken($accent-color, 10%);
        }
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}