.client {  
    padding-bottom: 30px;  
    padding-top: 60px;

@media screen and  (min-width: 1200px){
    padding-bottom: 94px;  
    padding-top: 94px;
}

&__title {  
    color: $text-color;  
    text-align: center;  
    font-style: normal;  
    font-weight: 700;  
    line-height: 1.16;  
    letter-spacing: 0.84px;  
    margin-bottom: 30px;  
    font-size: 28px;

    @media screen and (min-width: 1200px){
        font-size: 36px;
        letter-spacing: 1.08px; 
        margin-bottom: 50px;
    }
}  
&__link{
  @media screen and (min-width: 480px){
    width: 210px;
  }
  @media screen and (min-width: 768px){
    width: 226px;
  }
  @media screen and (min-width: 1200px){
    width: 170px;
  }
}

&__list {  
    display: flex;
    justify-content: center;
    gap: 30px;  
    flex-wrap: wrap;

    a:focus {  
        outline: none;  
        background-color: $accent-color;
    }  
}  

&__item {  
    display: flex;  
    align-items: center;  
    flex-wrap: wrap;  
    
    justify-content: center;  

    flex-basis: calc((100% - 30px) / 2); 

    @media screen and (min-width: 768px){  
        flex-basis: calc((100% - 60px) / 3); 
    }  
    @media screen and (min-width: 1200px){  
        flex-basis: calc((100% - 150px) / 6); 
    }   

    a {  
        display: flex;  
        align-items: center;  
        justify-content: center;  
        width: 100%;  
        height: auto;  
        min-height: 92px;  
        outline: 1px solid darkgrey;  
        border-radius: 4px;  

        &:hover {  
            border-color: $accent-color;   

            .client__icon {  
                fill: $accent-color;   
            }  
        }  
    }  
}  

&__icon {  
    width: 100%;  
    max-width: 106px;  
    height: auto;  
    max-height: 60px;  
    fill: darkgrey;  
    transition: fill 0.3s ease;  
}  

&__use {  
    width: 106px;  
    height: 60px;  
    flex-shrink: 0;  
}  
}  

.team-box {  
a:focus {  
    outline: none;  
    background-color: $accent-color;   
    border-radius: 50%;   
}  
}