.client {  
        padding-bottom: 30px;  
        padding-top: 60px;

    @media screen and  (min-width: 1200px){
        padding-bottom: 94px;  
        padding-top: 94px;
    }

    &__title {  
        color: $text-color;  
        text-align: center;  
        font-style: normal;  
        font-weight: 700;  
        line-height: 1.16;  
        letter-spacing: 0.84px;  
        margin-bottom: 30px;  
        font-size: 28px;

        @media screen and (min-width: 1200px){
            font-size: 36px;
            letter-spacing: 1.08px; 
            margin-bottom: 50px;
        }
    }  

    &__list {  
        // display: flex;  
        // justify-content: space-between;  
        // gap: 30px;  
        @include flex-box ($gap:30px);

        a:focus {  
            outline: none;  
            background-color: $accent-color;  
        }  
    }  

    &__item {  
        a {  
            display: flex;  
            align-items: center;  
            justify-content: center;  
            width: 170px;  
            height: 92px;  
            border: 1px solid darkgrey;  
            border-radius: 4px;  

            &:hover {  
                border-color: $accent-color;   

                .client__icon {  
                    fill: $accent-color;   
                }  
            }  
        }  
    }  

    &__icon {  
        width: 106px;  
        height: 60px;  
        fill: darkgrey;  
        transition: fill 0.3s ease;  
    }  

    &__use {  
        width: 106px;  
        height: 60px;  
        flex-shrink: 0;  
    }  
}  

.team-box {  
    a:focus {  
        outline: none;  
        background-color: $accent-color;   
        border-radius: 50%;   
    }  
}  