.footer {
    background-color: $footer-background;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  .footer-info {
    max-width: 300px;
  }
  .footer-social-list a:focus{
    outline: none;
    background-color: #2196f3;
  }
  .footer-logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .logo-span {
    color: $main-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    display: inline-block;
  }
  
  .footer-link {
    color: $main-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
    display: inline-block;
  }
  
  .footer-address {
    font-style: normal;
  }
  
  .footer-number {
    color: $footer-number;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    display: inline-block;
  }
  
  .footer-item {
    margin-bottom: 9px;
  }
  
  .footer-item:last-child {
    margin-bottom: 0px;
  }
  
  .footer-title {
    color: $main-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .footer-listbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  
      
  .footer-social-list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 70px;
  }
  
  .footer-social-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .footer-social-link:hover {
    background-color: $accent-color;
  }
  
  .footer-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: white;
  }
  .footer-subscribe {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    
    margin-left: auto;
  }
  .subscribe-form {
    display: flex;
    align-items: center; 
  }
  .footer-subscribe-title{
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  /* margin-left: 93px; */
  }
  .subscribe-input{
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* margin-left: 93px; */
  margin-right: 12px;
  }
  .subscribe-button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    flex-grow: 1;
  }
  .footer-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
  }
  .subscribe-icon {
    width: 24px;
  height: 24px;
  flex-shrink: 0;
    fill: white;
  }