.header-link:focus,  
.nav-link:focus {  
    outline: 2px solid $accent-color;
    border-radius: 5px;  
    background-color: rgb(33, 149, 243);
    transition: all 0.3s ease-in-out;
}


 
.header-item {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.header {  
    padding-top: 24px;  
    padding-bottom: 25px;  
}  

.header-box {  
    display: flex;  
    align-items: center;  
}  
.header-link{
  display: flex;
  justify-content: center;
}

.header-logo {  
    color: #2196F3; 
    font-size: 26px;  
    font-weight: 700;  
    line-height: 1.38;  
    letter-spacing: 0.78px;  
    margin-right: 93px;  
}  
.logo {
    margin-right: 10px; 
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.header-item:nth-child(2) .logo {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
}
.header-span {  
    color: $logo-color;  
    font-size: 26px;  
    font-weight: 700;  
    line-height: 1.38;  
    letter-spacing: 0.78px;  
}  

.header-contact {  
  display: flex;
  align-items: center;
  gap: 30px;  
  margin-left: auto;
}    
.logo {  
    width: 16px;  
    height: 12px;  
    flex-shrink: 0;     
}
.header-link {  
    color: $text-color;  
    font-size: 14px;  
    font-weight: 500;  
    line-height: 1.14;  
    letter-spacing: 0.28px;  
   display: flex;
   align-items: center;
}  
.header-link:hover .logo {
    stroke: $accent-color; 
    fill: $accent-color; 
}
.header-link:hover .logo {  
    fill: $accent-color;  
}
.nav-link:hover {
  color: $accent-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.nav-link {
  color: $accent-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.nav-list{
  display: flex;
  gap: 50px;
  }
.header-link:hover {
  color: $accent-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link {
  color: $additional-text;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-item{
  fill: #757575;
}