.header {
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width:768px){
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width:1200px){
    padding-top: 24px;
    padding-bottom: 25px;
  }



 &__text{
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.24px;

  @media screen and (min-width:1200px){
    font-size: 14px;
    letter-spacing: 0.28px;
  }
 }


  &__box {
    display: flex;
    align-items: center;
    // @include flex-box ();
  }

  &__logo {
    color: $accent-color;
    font-size: 26px;
    font-weight: 700;
    font-family: Raleway;
    line-height: 1.38;  
    letter-spacing: 0.78px;
    margin-right: 93px;
    letter-spacing: 0.72;
    @media screen and (min-width:1200px){
      font-size: 26px;
      letter-spacing: 0.78;
    }
  }



  &__span {
    color: $logo-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__list {
    // display: flex;
    // gap: 50px;
    @include flex-box ($gap:50px);
    &:hover {
      color: $accent-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
    }
  }

  &__item {
    fill: $additional-text; 
    // display: flex;
    // align-items: center;
    // gap: 10px;
   @include flex-box ($gap:10px);

    &:hover {
      color: $accent-color;
      fill: $accent-color; 
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
    }
  }


  &__logotup {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }


  &__link {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
@include flex-box ();
    

    &:hover {
      .logo {
        stroke: $accent-color;
        fill: $accent-color;
      }
    }

    &:focus {
      outline: 2px solid $accent-color;
      border-radius: 5px;
      background-color: rgb(33, 149, 243);
      transition: all 0.3s ease-in-out;
    }
  }


  .header__item-navigation a {
    color: $text-color;
    text-decoration: none;
  
    &:hover {
      color: $accent-color;
    }
  }
  &__contact {
 display: none;
 align-items: center;
 margin-left: auto;
    gap: 30px;
  //  @include flex-box ($gap:30px);

   @media screen and (min-width:768px){
  flex-direction: column;
  display: flex;
   }
   @media screen and (min-width:1200px){
    flex-direction: row;
   }
  }
}







