.header {
  padding: 10px 0;

  @media screen and (min-width: 768px) {
    padding: 21px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 25px 0;
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.24px;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      letter-spacing: 0.28px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    
  }

  &__logo {
    color: $accent-color;
    font-size: 26px;
    font-weight: 700;
    font-family: Raleway;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &__span {
    color: $logo-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__menu {
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__burger {
    width: 40px;
    height: 40px;
  }

  &__list {
    @include flex-box($gap: 50px);

    &:hover {
      color: $accent-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
    }
  }

  &__item {
    fill: $additional-text;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      color: $accent-color;
      fill: $accent-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
    }
  }

  &__logotup {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &__link {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    @include flex-box();

    &:hover {
      .logo {
        stroke: $accent-color;
        fill: $accent-color;
      }
    }

    &:focus {
      outline: 2px solid $accent-color;
      border-radius: 5px;
      background-color: rgb(33, 149, 243);
      transition: all 0.3s ease-in-out;
    }
  }

  .header__item-navigation a {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }

  &__contact {
    display: none;
    align-items: center;
    margin-left: auto;
    gap: 30px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start; 
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 30px;
    }
  }
}

.header-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

// Mobile menu ===============



.menu {
  width: 100vw;
  height: 100vh;
  background-color:   $main-color;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .04), 0px 2px 4px 0px rgba(0, 0, 0, .08), 0px 1px 3px 0px rgba(0, 0, 0, .16);
  padding: 48px 0 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto; 

  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      cursor: pointer;

      .menu__icon {
        fill:  $accent-color;
      }
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: $logo-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    color: $text-color;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.8px;
  }



&__items{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 32px;
}

&__contact{
  color:  $additional-text;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}

&__contactell{
  color:  $accent-color;
font-size: 34px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.68px;
}

&__social{
  display: flex;
  margin-top: 64px;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}


&__el:not(:last-child){
  .menu__ciberlink::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 22px;
    background: rgba(33, 33, 33, 0.20);
    margin-left: 10px;
    }
}



&__ciberlink{
  color:  $accent-color;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.36px;
display: flex;
align-items: center;

}

&__item {
  &:hover .menu__link {
    color: $accent-color;
  }
}



}



















.no-scroll {
  overflow: hidden;
  height: 100vh;
}


.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
