.header {
  padding-top: 24px;
  padding-bottom: 25px;

  &__box {
    // display: flex;
    // align-items: center;
    @include flex-box ()
  }

  &__logo {
    color: $accent-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }



  &__span {
    color: $logo-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__list {
    // display: flex;
    // gap: 50px;
    @include flex-box ($gap:50px)
    &:hover {
      color: $accent-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: $additional-text; 

    &:hover {
      color: $accent-color;
      fill: $accent-color; 
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
  }
  &__logotup {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }


  &__link {
    display: flex;
    justify-content: center;
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    align-items: center;

    &:hover {
      .logo {
        stroke: $accent-color;
        fill: $accent-color;
      }
    }

    &:focus {
      outline: 2px solid $accent-color;
      border-radius: 5px;
      background-color: rgb(33, 149, 243);
      transition: all 0.3s ease-in-out;
    }
  }


  .header__item-navigation a {
    color: $text-color;
    text-decoration: none;
  
    &:hover {
      color: $accent-color;
    }
  }
  
}








