.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/hero-mobile@1x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/hero-mobile@2x.webp);
  }

@media screen and (min-width: 768px){
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../img/tablet/hero-tablet@1x.webp);



  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/tablet/hero-tablet@2x.webp);
  }

}


    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;


      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/desktop/hero-desktop@1x.webp);



      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/mobile/hero-mobile@2x.webp);
      
    }
  }
    &__title {
      color: $main-color;
      text-align: center;
     font-size: 26px;
      font-weight: 900;
      line-height: 1.36;
      letter-spacing: 1.56px;
      text-transform: uppercase;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;

      @media screen and (min-width:480px){
width: 360px;
      }
      @media screen and (min-width:768px){
        width: 360px;
      }
      @media screen and (min-width:1200px){
        font-size: 44px;
        letter-spacing: 2.64px;
        width: 696px;
      }
    }


    &__button {
      border-radius: 4px; 
      background: $accent-color;
      color: $main-color; 
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.87;
      letter-spacing: 0.96px;
      padding: 10px 32px;
      border: none; 
      cursor: pointer;
      position: relative;  /* Залиште або змініть на absolute, якщо потрібно */  
      z-index: 10;
      transition: all 0.3s ease; 

      @media screen and (min-width: 1200px){
        padding: 10px 32px;
      }
    }
  }

