
.management{
    padding-top: 94px;
  
    &__list{
      display: flex;
      gap: 30px;
    }


    &__item {
      flex-basis: calc((100% - 90px) / 4);

      &::before {
          display: block;
          content: "";
          width: 270px;
          height: 120px;
          border-radius: 4px;
          background: $team-background;
          margin-bottom: 30px;
          background-repeat: no-repeat;
          background-position: center;
      }

      &:nth-child(1)::before {
          background-image: url(../img/antenna.webp);
      }

      &:nth-child(2)::before {
          background-image: url(../img/clock.webp);
      }

      &:nth-child(3)::before {
          background-image: url(../img/diagram.webp);
      }

      &:nth-child(4)::before {
          background-image: url(../img/astronaut.webp);
      }
  }
  &__title {
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }


  &__text {
    color: $additional-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }

  }



  
 
