.btn {  
  padding: 94px 0;
  display: flex;  
  flex-direction: column; 
  align-items: center; 

  &__container {  
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__list {  
    list-style-type: none; 
    margin: 0;  
    padding: 0;  
    display: flex;  
    margin-bottom: 50px;  
    justify-content: center;  
    gap: 8px;  
  }  

  &__button {  
    padding: 6px 23px;  
    color: $text-color;  
    text-align: center;  
    font-size: 16px;  
    font-weight: 500;  
    line-height: 1.6;  
    letter-spacing: 0.48px;  
    border-radius: 4px;  
    border: none;  
    transition: background-color 0.3s ease; 

    &:hover {
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
      background-color: $accent-color;
      color: $main-color;
    }
  }

  &__list {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 30px;  
  }  

  &__item {  
    outline: 1px solid var(--border);  
    flex-basis: calc((100% - 60px) / 3); 
    box-sizing: border-box;
    position: relative;  
    overflow: hidden;  
  }  

  &__verybox {
    outline: 1px solid var(--border);
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 370px;
    height: 294px;
    display: block;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $accent-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__verybox:hover .btn__overlay {
    transform: translateY(0);
    opacity: 1;
  }
 &__title{
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
    }
    
    &__rite {  
      color: $additional-text;  
      font-size: 16px;  
      font-weight: 400;  
      line-height: 1.85;  
      letter-spacing: 0.48px;  
  } 
  &__text {  
    width: 80%;
    opacity: 0;
    transform: translateY(100%);
    color: $main-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 0.54px;
    text-align: center;
  }

  &__verybox:hover .btn__text {
    transform: translateY(0);
    opacity: 1;
  }
}
















  






























.table-list{
display: flex;
flex-wrap: wrap;
gap: 30px;


}




 

.table-item {
  position: relative;
  overflow: hidden; 
}






.table-item {
  position: relative;
  overflow: hidden;
}
.table-item:hover{
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  
}





.table-item:hover .overlay,
.table-item:hover .overlay-text {
  transform: translateY(0);
  opacity: 1;
  
}


.header-list{
  display: flex;
  gap: 50px;
  }
  .header-link:hover{
  color: $accent-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;}
  .header-link{
  color: $additional-text;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  }




  .nav-link{
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    position: relative;
    }
    .nav-link::after{
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
     background-color: $accent-color;
      visibility: hidden;
      position: absolute;
      bottom: -35px;
      left: 0;
    }
    .nav-link:hover::after,
    .nav-link.active::after {
      visibility: visible;
    }