.btn {  
padding-bottom: 94px;
padding-top: 94px;

  &__container {  
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .btn {
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 48px;
        gap: 8px;
       justify-content: flex-start;
        margin-bottom: 30px;


        @media screen and (min-width: 768px) {
          justify-content: center;
          margin-bottom: 30px;
      }
            @media screen and (min-width: 1200px) {
          margin-bottom: 50px;
          justify-content: center;
    }
    }

    
}
&__item {  
  outline: 1px solid var(--border);  
  box-sizing: border-box;
  position: relative;  
  overflow: hidden;  
  transition: box-shadow 0.3s ease;
  flex-basis: 100%; 

  &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                  0px 4px 4px rgba(0, 0, 0, 0.06),
                  1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 480px) {
    flex-basis: 450px;
  } 
  @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2); 
  }

  @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3); 
  }
}

&__title{
  color: $text-color;
font-size: 18px;
font-weight: 700;
line-height: 36px; 
letter-spacing: 1.08px;
padding-top: 20px;
padding-left: 24px;
padding-right: 24px;
}
&__rite{
  color: $additional-text;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 20px;
}
  &__button {  
    padding: 6px 23px;  
    color: $text-color;  
    text-align: center;  
    font-size: 16px;  
    font-weight: 500;  
    line-height: 1.6;  
    letter-spacing: 0.48px;  
    border-radius: 4px;  
    border: none;  
    transition: background-color 0.3s ease; 

    &:hover {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.10),
                  0px 1px 2px rgba(0, 0, 0, 0.08),
                  0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: $accent-color;
      color: $main-color;
    }
  }

&__items{
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
 justify-content: flex-start;

  @media screen and (min-width: 1200px){
    justify-content: center;
  }
}

  &__verybox {
    outline: 1px solid var(--border);
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;
    background: $accent-color;
    color: white;
    padding: 20px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);

                // display: flex;
                // align-items: center;
                // justify-content: center;
                // text-align: center;

                @include flex-box ($align:center);
  }

  &__item:hover &__overlay {
    transform: translateY(0);
    opacity: 1;
  }
  
  &__title {
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
  }

  &__rite {  
    color: $additional-text;  
    font-size: 16px;  
    font-weight: 400;  
    line-height: 1.85;  
    letter-spacing: 0.48px;  
  } 
  
  &__text {  
    width: 80%;
    opacity: 0;
    transform: translateY(100%);
    color: $main-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 0.54px;
    text-align: center;
  }

  &__item:hover &__text {
    transform: translateY(0);
    opacity: 1;
  }
}


.header{

    &__link{
    color: $additional-text;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;

&:hover{
      color: $accent-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;}
  
    }

  }















  









































  .nav-link{
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    position: relative;
    }
    .nav-link::after{
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
     background-color: $accent-color;
      visibility: hidden;
      position: absolute;
      bottom: -35px;
      left: 0;
    }
    .nav-link:hover::after,
    .nav-link.active::after {
      visibility: visible;
    }