
.team{
    padding-top: 94px;
    background-color: $team-background;


    &__subject {
      color: $text-color;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.16;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }


   &__list{
      display: flex;
      gap: 30px;
    }


    &__img{
      width: 270px;
      height: 260px;
      
      }


      &__item{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $main-color;
        }


        &__title {
          color: $text-color;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.187;
          letter-spacing: 0.48px;
          margin-bottom: 10px;
        }
        

         &__text {
          color: $additional-text;
          text-align: center;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.187;
          letter-spacing: 0.48px;
        }


       &__box{
          display: flex;
          justify-content: center;
          gap: 10px;
          margin-top: 16px;
          } 


       &__icon{
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            fill: darkgrey;
            }
            &__box {  
              & a {  
                display: flex;  
                align-items: center;  
                justify-content: center;  
                width: 44px;  
                height: 44px;  
                background-color: rgba(255, 255, 255, 0.1);  
                border-radius: 50%;  
                transition: background-color 0.3s ease, transform 0.3s ease;  
            
                &:hover {  
                  background-color: $accent-color;  
            
                  .team-icon {  
                    fill: white;  
                  }  
                }  
              }  
            }  




}
  
  
 
  



 
  
 
  
  