.team {  
  padding-top: 60px;  
  padding-bottom: 60px;  
  background-color: $team-background;  

  @media screen and (min-width: 1200px) {  
    padding-top: 94px;  
    padding-bottom: 94px;  
    justify-content: center;
  }
  &__subject {  
    color: $text-color;  
    text-align: center;  
    font-size: 36px;  
    font-weight: 700;  
    line-height: 1.16;  
    letter-spacing: 1.08px;  
    margin-bottom: 50px;  
  }  
  &__list {  
    display: flex; 
    gap: 30px; 
    justify-content: center;
    flex-wrap: wrap; 
    list-style: none;
    padding: 0; 
    margin: 0;   
  }  

  &__img {  
   width: 100%;
  }  

  &__item {  
    width: 100%;
    background-color: $main-color;  
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),   
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),   
                0px 2px 1px 0px rgba(0, 0, 0, 0.20); 
                border-radius: 0px 0px 4px 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  

    &:hover {  
      box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15),   
                  0px 2px 4px 0px rgba(0, 0, 0, 0.12),   
                  0px 4px 3px 0px rgba(0, 0, 0, 0.18); 
    }  


    @media screen and (min-width: 1200px){
      width: 270px;
    }
  }  

  &__title {  
    color: $text-color;  
    text-align: center;  
    font-size: 16px;  
    font-weight: 700;  
    line-height: 1.187;  
    font-family: Roboto;  
    letter-spacing: 0.48px;  
    margin-bottom: 10px;  
    margin-top: 30px;  

    @media screen and (min-width: 1200px) {  
      margin-bottom: 10px;  
      margin-top: 30px;  
    }  
  }  

  &__text {  
    color: $additional-text;  
    text-align: center;  
    font-size: 16px;  
    font-weight: 400;  
    line-height: 1.187;  
    letter-spacing: 0.48px;  
  }  

  &__box {  
    margin-top: 16px;  
    display: flex;  
    justify-content: center;  
    gap: 10px; 
  }  

  &__icon {  
    width: 20px;  
    height: 20px;  
    flex-shrink: 0;  
    fill: darkgrey;  
  }  

  &__box a {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    width: 44px;  
    height: 44px;  
    background-color: rgba(255, 255, 255, 0.1);  
    border-radius: 50%;  
    margin-bottom: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;  

    &:hover {  
      background-color: $accent-color;  
      fill: $main-color;

      .team-icon { 
        fill: $main-color;
      }  
    }  
  }  
  .team__box a:hover .team__icon {  
    fill: $main-color;  
  }
  
}  