.work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
@media screen and (min-width: 1200px) {
  display: block;
}

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }



  &__list {
    // display: flex;
    // justify-content: center;
    // gap: 30px;

    @include flex-box ($gap:30px);
  }


  &__item {
    position: relative;
    overflow: hidden;
  }


  &__img {
    display: block;
    width: 100%;
  }


  
  &__text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   background: rgba(47, 48, 58, 0.80);
    color: white; 
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
